@model IList<ORMConfig.Models.FileViewORMModel>

@{
    ViewBag.Title = "File Sharing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-bottom: 30px;">File Sharing</h2>

<p style="margin-bottom: 20px;">
    @Html.ActionLink("Upload New File", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            File Name 
            @Html.ActionLink("<", "Index", new { sort = "name", dir = "des" })
            @Html.ActionLink(">", "Index", new { sort = "name", dir = "asc" })
        </th>
        <th>
            Creation Date 
            @Html.ActionLink("<", "Index", new { sort = "date", dir = "des" })
            @Html.ActionLink(">", "Index", new { sort = "date", dir = "asc" })
        </th>
        <th>
            Author Email 
            @Html.ActionLink("<", "Index", new { sort = "mail", dir = "des" })
            @Html.ActionLink(">", "Index", new { sort = "mail", dir = "asc" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        @if (item.AuthorName == User.Identity.Name)
        {
            <td>
                @Html.ActionLink("Delete", "Delete", new { fileId = item.Id }) |
                @Html.ActionLink("Download", "Download", new { fileId = item.Id })
            </td>
        }
    </tr>
}

</table>
