@model IEnumerable<Domain.Models.HistoryDomain>
@{
    ViewBag.Title = "History";
}

<h2>History</h2>
<table>
    <tr><th>Operations</th></tr>
</table>

@using (Html.BeginForm("History", "Calc"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("Search")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>

        </div>
    </div>
}

<table>
    <tr>
        <th>X</th>
        <th>Operation</th>
        <th>Y</th>
        <th>Result</th>
        <th> </th>
        <th>Date</th>
    </tr>
    @foreach (var oper in Model)
    {
        <tr>
            <td width="12%">@(oper.X)</td>
            <td width="20%">@(oper.Operation)</td>
            <td width="12%">@(oper.Y)</td>
            <td width="12%"> = </td>
            <td width="12%">@(oper.Result)</td>
            <td>@(oper.CreationDate)</td>
        </tr>
    }
</table>