@model IEnumerable<Domain.Models.HistoryDomain>
@{
    ViewBag.Title = "History";
}

<h2>History</h2>
<table>
    <tr><th>Operations</th></tr>
</table>

<table>
    @foreach (var oper in Model)
    {
        <tr>
            <td width="12%">@(oper.X)</td>
            <td width="20%">@(oper.Operation)</td>
            <td width="12%">@(oper.Y)</td>
            <td width="12%"> = </td>
            <td width="12%">@(oper.Result)</td>
            <td>@(oper.CreationDate)</td>
        </tr>
    }
</table>